USE [master]
GO
/****** Object:  Database [student]    Script Date: 28/01/2026 8:17:15 SA ******/
CREATE DATABASE [student]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'student', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\student.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'student_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\student_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 28/01/2026 8:17:15 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDate] [date] NULL,
	[Major] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[sinhvien] ON 

INSERT [dbo].[sinhvien] ([StudentID], [FullName], [Gender], [BirthDate], [Major], [Address]) VALUES (4, N'Huỳnh Phước Quân', N'Nam', CAST(N'2005-09-01' AS Date), N'CNTT', N'Đà Nẵng')
INSERT [dbo].[sinhvien] ([StudentID], [FullName], [Gender], [BirthDate], [Major], [Address]) VALUES (5, N'Cao Đình Bảo', N'Nam', CAST(N'2005-09-01' AS Date), N'CNTT', N'Đà Nẵng')
INSERT [dbo].[sinhvien] ([StudentID], [FullName], [Gender], [BirthDate], [Major], [Address]) VALUES (16, N'Nguyễn Văn An', N'Nam', CAST(N'2004-05-12' AS Date), N'Công nghệ thông tin', N'Đà Nẵng')
SET IDENTITY_INSERT [dbo].[sinhvien] OFF
GO
USE [master]
GO
